* {
  font-family: Maple Mono;
  font-weight: bold;
  font: crimson;
}

#addDogButton {
  height: 100px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background: linear-gradient(to right, #403b4a, #bbbbb4);
  transition: 0.2s;
}

#addDogButton:hover {
  outline: none;
  text-decoration: none;
  border-color: white;
  border-width: 3px;
}

body {
  background-color: #141216;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Maple Mono;
  font-size: 15px;
  font-weight: bold;
}

.dogCardAttributeText {
  color: crimson;
}